.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .invite-message {
    text-align: center;
    color: #aaa;
    margin: 10px 0;
  }
  
  .chat-date {
    margin-top: 5px;
    font-size: 12px;
    color: #888;
    border: 1px solid green;
    text-align: center; /* 텍스트 중앙 정렬 */
  }
  
  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border: 1px solid red;
  }
  
  .message-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .my-message {
    align-items: flex-end;
    text-align: right;
  }
  
  .received-message {
    align-items: flex-start;
  }
  
  .message-sender {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px;
    border: 1px solid red;
  }
  
  .message-text {
    background-color: #fcd4f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    border: 1px solid blue;
  }
  
  .message-time {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
    border: 1px solid green;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: 1px solid purple;
  }
  
  .input-group.message-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    margin-right: 10px;
  }

  .calendar-icon {
    width: auto;
    height: auto;
    max-width: 40px; /* 아이콘의 최대 가로 크기를 40px로 제한 */
    max-height: 40px; /* 아이콘의 최대 높이를 40px로 제한 */
    margin-right: 10px; /* 이미지와 입력 필드 사이에 여백 추가 */
    border: 1px solid red;
  }
  
  .message-input .form-input {
    background-color: white;
  }

  .send-button {
    padding: 10px 20px;
    background-color: #fcd4f0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
  