.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
    background-color: #fff;
  }
  
  .invite-message {
    text-align: center;
    color: #aaa;
    margin: 10px 0;
  }
  
  .chat-date {
    margin-top: 5px;
    font-size: 12px;
    color: #888;
  }
  
  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .message-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .my-message {
    align-items: flex-end;
    text-align: right;
  }
  
  .received-message {
    align-items: flex-start;
  }
  
  .message-sender {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .message-text {
    background-color: #fcd4f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .message-time {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #fcd4f0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
  