/* Go 페이지 전체 레이아웃 */
.go-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}

/* 본문 콘텐츠 정렬 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 250px;
}


/* 버튼 컨테이너: 버튼을 가로로 정렬 */
.button-container {
    display: flex;
    gap: 200px; /* 버튼 사이 간격 */
    margin-left: 0px;
}

/* 다음 버튼 */
.next-button {
    margin-left: 200px; /* 오른쪽으로 밀기 */
    margin-top: 10px;
}

/* 뒤로가기 버튼 */
.back-button {
    margin-left: 0px;  /* 왼쪽 간격 제거 */
    margin-right: 10px; /* 오른쪽으로 간격 */
    color: black;
}

.back-button:hover {
    background-color: #ff9ed6;
    transform: scale(1.05);
}

.step-modal input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}
