.plan-container {
    display: flex; 
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 50vh;
}

.alone-button, .together-button {
    margin: 0 30px; /* 버튼 사이에 좌우로 30px 간격 추가 */
    display: block;
    padding: 10px;
    background-color: #fcd4f0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
