.page-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}

.mytrip-page-h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.mytrip-page-p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #fcd4f0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    color: black;
    padding: 10px 15px;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f0f0f0;
}

.trips-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px; /* 추가된 패딩 */
}

.trip-days-left {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    margin-right: 15px; /* 여행 정보와의 간격 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px; /* 최소 너비 설정 */
}

.trip-info {
    flex: 1;
    padding-left: 10px; /* 여행 정보와 D-Day 간의 간격 */
}

.trip-title {
    font-size: 1.4em;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #292929;
}

.trip-dates,
.trip-time,
.trip-member {
    margin: 5px 0;
    color: #777;
}

.trip-menu-button {
    cursor: pointer;
    padding: 10px;
}

.trip-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-item {
    display: block;
    padding: 10px 15px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item:focus {
    outline: none;
    background-color: #e0e0e0;
}
