.border {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
}

/* #messages {
    border: 1px solid blue;
} */

.message {
    border: 1px solid black;
    margin: 1vw;
}

.send-button {
    background-color: #FFE3F7;
    border: none;
    margin-left: 1vw;
    height: auto;

}

.message-form {
    width: 50%;
    /* margin-left: 30%; */
}

.message-sender {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px;
}

.message-time {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}

.message-content {
    background-color: #FFE3F7;
    
}

.message-footer {
    border: 2px solid red;
}