.chat-container {
    border: 1px solid red;
    width: 30%; 
    height: 50vh;

    
    transform: scale(0.8); /* 축소 비율 조정 */
    transform-origin: top left; /* 변환 기준점 설정 */
    overflow: scroll;
}

.chat-header {
    background-color: rgb(229, 229, 229);
    border: 3px solid green;
    display: flex; 
    height: 5vh;
    /* justify-content: space-between;  */
}

.chat-title {
    display: flex;
    align-items: center;
    
}

.chat-close-button {
    margin-left: auto; 
}
.chat-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
} 