.chat-container {
    z-index: 999;
    background-color: #fff;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 5px;
    width: 25%; 
    height: 61vh;
    transform: scale(0.8); /* 축소 비율 조정 */
    transform-origin: top left; /* 변환 기준점 설정 */
    
    /* 오른쪽 하단에 배치 */
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
}

.chat-header {
    background-color: rgb(229, 229, 229);
    display: flex; 
    height: 5vh;
    position: sticky; /* 상단 고정 */
    top: 0;
    
}

.chat-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: rgb(60, 60, 60);
    padding-left: 10vw;
}

.chat-close-button {
    border: none;
    font-size: 20px;
    color: rgb(126, 126, 126);
    background-color: rgb(229, 229, 229);
    /* 오른쪽 상단에 배치 */
    position: fixed;
    top: 5px;
    right: 0;
}

.chat-icon {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    background-color: #FFE3F7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 오른쪽 하단에 배치 */
    position: absolute;
    bottom: 10px; 
    right: 10px;
} 

.chat-icon:hover {
    background-color: #f97dd8;
}

/* .chat-icon-img {
    width: 3vw;
    height: auto;
} */