/* .chat-body {
    border: 1px solid red
}

.small-chat-window {
    border: 2px solid blue;
    width: 25vw;
    height: 50vh;
}

.chat-header {
    border: 2px solid green;
} */

.chat-icon img { 
    width: 5vw;  
    height: 7vh;
}

.open {
    border: none;
}

