.desc {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.desc_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desc_image {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.desc_button {
  width: 150px;
  height: 80px;
  border: none;
  border-radius: 10px;
  background-color: pink;
  font-size: 1.5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 10rem;
}

.desc_header {
  font-size: 4rem;
}
